# Python
__pycache__/
*.pyc

# Virtual environment
venv/
.venv/

# Temporary files
*.pdf

# Data files (PRIVATE)
data/
outputs/

# Jupyter
.ipynb_checkpoints/

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
